.btn-default {
  background-color: $succeed-color;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  font-family: $main-font;
  font-size: 1.5625rem;
  font-weight: 700;
  padding: $padding * 2;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:disabled {
    background-color: $active-color;
    box-shadow: none;
    color: #d4d4d4;
    &:hover {
      box-shadow: none;
      filter: none;
    }
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    filter: brightness(1.05);
  }
}
