/* ==========================CONFIG============================*/
$main-font: 'Anybody', Helvetica;
$background-color: #F9F9F9;
$light-color: #FFFFFF;
$dark-color: #000131;
$gray-color: #747474;
$active-color: #EDEDED;
$brand-color1: #FBCE2F;
$succeed-color: #26C177;
$danger-color: #FE1D2E;
$add-color: #9AE281;
$padding: 15px;
$border-radius: 10px;
/* ==========================ICONS============================*/

$icomoon-font-family: "saeta" !default;
$icomoon-font-path: "fonts" !default;

$icon-add-img: "\e900";
$icon-add-text: "\e901";
$icon-close: "\e902";
$icon-deshacer: "\e903";
$icon-edit-item: "\e904";
$icon-list-items: "\e905";
$icon-pre-design: "\e906";
$icon-product: "\e907";
$icon-rehacer: "\e908";
$icon-reset: "\e909";
$icon-term-conditions: "\e90a";
$icon-upload-img: "\e90b";
$icon-warning: "\e90c";
$icon-plus1: "\e90d";
$icon-bin: "\e9ac";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-checkmark: "\ea10";
$icon-arrow-right: "\ea3c";
$icon-arrow-left: "\ea40";

